In [49]:
#Importacion de librerias utilizadas
import numpy as np
import pandas as pd
import seaborn as sns

In [50]:
#Abrimos el dataset
datos = pd.read_csv("cambio_genero_provincia_genero_edad_mayo_2024-copia.csv")

In [55]:
#Eliminamos la columna 'provincia_id' por no tener relevancia en el analisis
datos_clean = datos.drop(columns="provincia_id")

In [ ]:
#Revisamos que informacion que contiene
datos_clean.head()

  provincia_nombre genero edad_actual_grandes_grupos  cantidad
0     Buenos Aires      F                     0 a 17        91
1     Buenos Aires      F                    18 a 29       928
2     Buenos Aires      F                    30 a 39       816
3     Buenos Aires      F                   40 y mas      1240
4     Buenos Aires      M                     0 a 17       380

In [57]:
#Guardamos los dataframes 
df = pd.DataFrame(datos_clean)

In [58]:
#Separamos por grupos utilizando la funcion 'groupby'
df_genero = df.groupby("genero")
df_provincia = df.groupby("provincia_nombre")
df_edades = df.groupby("edad_actual_grandes_grupos")

In [59]:
#Mostramos los grupos del genero 'X'
df_genero.get_group("X")

     provincia_nombre genero edad_actual_grandes_grupos  cantidad
8        Buenos Aires      X                     0 a 17        50
9        Buenos Aires      X                    18 a 29       423
10       Buenos Aires      X                    30 a 39       174
11       Buenos Aires      X                   40 y mas        95
20          Catamarca      X                    18 a 29         4
..                ...    ...                        ...       ...
271  Tierra del Fuego      X                    30 a 39         5
280           Tucumán      X                     0 a 17         2
281           Tucumán      X                    18 a 29        14
282           Tucumán      X                    30 a 39        10
283           Tucumán      X                   40 y mas         5

[89 rows x 4 columns]

In [60]:
#Mostramos los grupos de la provincia de 'Chubut'
df_provincia.get_group("Chubut")

   provincia_nombre genero edad_actual_grandes_grupos  cantidad
31           Chubut      F                     0 a 17         5
32           Chubut      F                    18 a 29        28
33           Chubut      F                    30 a 39        29
34           Chubut      F                   40 y mas        50
35           Chubut      M                     0 a 17        18
36           Chubut      M                    18 a 29        89
37           Chubut      M                    30 a 39        32
38           Chubut      M                   40 y mas         3
39           Chubut      X                     0 a 17         6
40           Chubut      X                    18 a 29        29
41           Chubut      X                    30 a 39        13
42           Chubut      X                   40 y mas         4

In [61]:
#Mostramos por grupo de '18 a 29' años
df_edades.get_group("18 a 29")

     provincia_nombre genero edad_actual_grandes_grupos  cantidad
1        Buenos Aires      F                    18 a 29       928
5        Buenos Aires      M                    18 a 29      1955
9        Buenos Aires      X                    18 a 29       423
13          Catamarca      F                    18 a 29        39
17          Catamarca      M                    18 a 29        33
..                ...    ...                        ...       ...
266  Tierra del Fuego      M                    18 a 29        45
270  Tierra del Fuego      X                    18 a 29        10
273           Tucumán      F                    18 a 29       119
277           Tucumán      M                    18 a 29       112
281           Tucumán      X                    18 a 29        14

[75 rows x 4 columns]

In [62]:
#Sacamos el promedio de cada edad actual en grandes grupos
df_edades["cantidad"].mean()

edad_actual_grandes_grupos
0 a 17       17.646154
18 a 29     107.733333
30 a 39      67.148649
40 y mas     65.814286
Name: cantidad, dtype: float64

In [63]:
#Sacamos el promedio por genero
df_genero["cantidad"].mean()

genero
F    99.285714
M    76.092784
X    19.011236
Name: cantidad, dtype: float64

In [64]:
#Sacamos el promedio por 'provincia'
df_provincia["cantidad"].mean()

provincia_nombre
Buenos Aires                       579.083333
Catamarca                           17.600000
Chaco                               27.333333
Chubut                              25.500000
Ciudad Autónoma de Buenos Aires    194.833333
Corrientes                          24.250000
Córdoba                            124.083333
Entre Ríos                          41.250000
Formosa                             14.900000
Jujuy                               29.333333
La Pampa                            13.166667
La Rioja                            19.200000
Mendoza                             51.083333
Misiones                            18.666667
Neuquén                             31.500000
Otro Pais                           18.100000
Río Negro                           26.500000
Salta                               57.916667
San Juan                            26.090909
San Luis                            21.166667
Santa Cruz                          15.818182
Santa Fe                           125.250000
Santiago del Estero                 24.600000
Tierra del Fuego                    10.545455
Tucumán                             56.083333
Name: cantidad, dtype: float64

In [65]:
#Contamos cuanto hay por cada genero
df_genero.count()

        provincia_nombre  edad_actual_grandes_grupos  cantidad
genero
F                     98                          98        98
M                     97                          97        97
X                     89                          89        89

In [66]:
#Contamos cuantos hay por edad actual y grandes grupos
df_edades.count()

                            provincia_nombre  genero  cantidad
edad_actual_grandes_grupos
0 a 17                                    65      65        65
18 a 29                                   75      75        75
30 a 39                                   74      74        74
40 y mas                                  70      70        70

In [67]:
#Contamos cuantos hay por provincias
df_provincia.count()

                                 genero  edad_actual_grandes_grupos  cantidad
provincia_nombre
Buenos Aires                         12                          12        12
Catamarca                            10                          10        10
Chaco                                 9                           9         9
Chubut                               12                          12        12
Ciudad Autónoma de Buenos Aires      12                          12        12
Corrientes                           12                          12        12
Córdoba                              12                          12        12
Entre Ríos                           12                          12        12
Formosa                              10                          10        10
Jujuy                                12                          12        12
La Pampa                             12                          12        12
La Rioja                             10                          10        10
Mendoza                              12                          12        12
Misiones                             12                          12        12
Neuquén                              12                          12        12
Otro Pais                            10                          10        10
Río Negro                            12                          12        12
Salta                                12                          12        12
San Juan                             11                          11        11
San Luis                             12                          12        12
Santa Cruz                           11                          11        11
Santa Fe                             12                          12        12
Santiago del Estero                  10                          10        10
Tierra del Fuego                     11                          11        11
Tucumán                              12                          12        12

In [ ]:
#Sacamos cuanto es el promedio de edad actual y grandes grupos por cada provincia 
df.pivot_table(index="provincia_nombre", columns="edad_actual_grandes_grupos",values="cantidad",aggfunc="mean")

edad_actual_grandes_grupos,0 a 17,18 a 29,30 a 39,40 y mas
provincia_nombre,,,,
Buenos Aires,173.666667,1102.000000,521.000000,519.666667
Catamarca,4.000000,25.333333,18.666667,18.000000
Chaco,5.000000,39.000000,25.333333,24.000000
Chubut,9.666667,48.666667,24.666667,19.000000
Ciudad Autónoma de Buenos Aires,39.666667,314.666667,217.666667,207.333333
Corrientes,4.333333,33.333333,35.666667,23.666667
Córdoba,19.333333,186.666667,147.333333,143.000000
Entre Ríos,7.666667,68.333333,48.000000,41.000000
Formosa,2.000000,23.666667,23.000000,9.333333
Jujuy,6.666667,42.333333,41.000000,27.333333
La Pampa,4.666667,25.333333,8.666667,14.000000
La Rioja,2.500000,24.000000,20.333333,27.000000
Mendoza,10.666667,78.666667,58.666667,56.333333
Misiones,4.333333,44.666667,18.000000,7.666667
Neuquén,21.333333,57.666667,24.333333,22.666667
Otro Pais,1.000000,5.666667,17.666667,36.666667
Río Negro,15.000000,50.000000,24.333333,16.666667
Salta,4.333333,74.333333,81.666667,71.333333
San Juan,2.000000,43.000000,30.333333,21.000000
San Luis,7.000000,31.333333,24.666667,21.666667
Santa Cruz,7.333333,27.000000,13.666667,15.000000
Santa Fe,25.000000,214.666667,128.333333,133.000000
Santiago del Estero,1.000000,29.666667,30.333333,21.666667
Tierra del Fuego,5.000000,21.666667,8.000000,6.000000
Tucumán,7.333333,81.666667,72.666667,62.666667

In [ ]:
#Sacamos el maximo de cada uno de las provincias por genero
df.pivot_table(index="provincia_nombre", columns="genero", values="cantidad", aggfunc="max")

genero                              F     M    X
provincia_nombre
Buenos Aires                     1240  1955  423
Catamarca                          41    33    7
Chaco                              62    48    7
Chubut                             50    89   29
Ciudad Autónoma de Buenos Aires   511   524  168
Corrientes                         82    39    4
Córdoba                           373   319   46
Entre Ríos                        114   112   21
Formosa                            48    20    3
Jujuy                              82    55    5
La Pampa                           35    41    4
La Rioja                           53    22    4
Mendoza                           133   141   22
Misiones                           62    62   10
Neuquén                            51   104   34
Otro Pais                          99    17    4
Río Negro                          39   103   16
Salta                             182   101   12
San Juan                           64    60    9
San Luis                           60    53    5
Santa Cruz                         29    47    8
Santa Fe                          346   339   43
Santiago del Estero                70    38    5
Tierra del Fuego                   11    45   10
Tucumán                           164   112   14

In [70]:
#Comparamos cuanta frecuencia hay entre cada genero por edad actual y grandes grupos
res = pd.crosstab(df["edad_actual_grandes_grupos"], df["genero"])
print(res)

genero                       F   M   X
edad_actual_grandes_grupos
0 a 17                      23  23  19
18 a 29                     25  25  25
30 a 39                     25  25  24
40 y mas                    25  24  21